<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/HackMatch/static/HackMatch/styleFindTeam.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Find your Team</title>
</head>
<body>
  <body>
    <a href="index.html"><img class="goHome" src="/HackMatch/static/HackMatch/homeLogo.png" alt=""></a>
    <div class="section">
      <div class="input" >
        <P class="textToUser1">Find the right teammates for you!</P>
      </div>
      <form action="{% url 'submitRequirement'%}" method="post">
        {% csrf_token %}
        <div class="input">
          <P class="textToUser">Are you looking for a...</P>
          <input class="choice" type="checkbox" name="skills[]" value="FrontEnd">FrontEnd Developer
          <input class="choice" type="checkbox" name="skills[]" value="BackEnd">BackEnd Developer
          <p class="SPAC"></p>
        </div>
        <div class="input">
          <P class="textToUser">What languages should your new teammate be proficient in?</P>
          <input type="checkbox">C
          <input class="space" type="checkbox" name="skills[]" value="C++">C++
          <input class="space" type="checkbox" name="skills[]" value="Java">Java
          <input class="space" type="checkbox" name="skills[]" value="JavaScript">JavaScript
          <input class="space" type="checkbox" name="skills[]" value="Python">Python
          </div>
          <div class="input">
          <input class="" type="checkbox">HTML/CSS
          <input class="space" type="checkbox" name="skills[]" value="C#">C#
          <input class="space" type="checkbox" name="skills[]" value="PHP">PHP
          <input class="space" type="checkbox" name="skills[]" value="SQL">SQL
          <input class="space" type="checkbox" name="skills[]" value="Ruby">Ruby
          <p class="SPAC"></p>
        </div>
        <div class="input">
          <P class="textToUser">What Frameworks should they know? </P>
          <input class="" type="checkbox" name="skills[]" value="Django">Django
          <input class="space1" type="checkbox" name="skills[]" value="Flask">Flask
          <input class="space1" type="checkbox" name="skills[]" value="Angular">Angular
          <input class="space1" type="checkbox" name="skills[]" value="React">React
          <input class="space1" type="checkbox" name="skills[]" value="Express">Express
        </div>
        <button class="submitButton" value="Submit">Submit Now</button>
      </div>
    </form>
  </body>
  </html>