<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1lFAqeEW4dgXFWP3A5lRMYybq0e3hv2ht">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Hacker Friends</title>
</head>
<body>
  <div class="headerDiv">
    <div class="dropDown">
      <button class="dropDownButton"><img class="dropDownImg" src="/HackMatch/static/HackMatch/dropIcon.png" alt=""></button>
    </div>
    <div class="showImg">
      <img class="logo" src="https://drive.google.com/uc?export=view&id=1UfTIMAaE4E6c7MsaWvxkBXAt5bd1zcc9" alt="MLH">
      <img class="logo" src="https://drive.google.com/uc?export=view&id=1Nlwwv-_A6eCSSnwaMiiyKR1Tn-0bqCaz" alt="hackNC">
      <img class="logo" src="https://drive.google.com/uc?export=view&id=1voRLU5pmoZONHH-qVLlAwe-SubynwG2J" alt="UNC C">
    </div>
  </div>
  <div class="bodyDiv">
    <div class="buttons">
      <a href="events.html"><button class="eventButton">Events</button></a>
      <a href="{%url 'findTeam' %}"><button class="findTeamBtn">Find your Team</button></a>
      <a href="https://my.mlh.io/oauth/authorize?client_id=XAyBgz50rTVyWISgkyoCsXW7wkZjRyhRvyPD67aSrr0&redirect_uri=http://127.0.0.1:8000/processApiToken/&response_type=token&scope=email"><button class="logInBtn">Log with MLH</button></a>
    </div>

    <div class="text">
      <p></p>
    </div>
  </div>
</body>
</html>