<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1jQ5xj5sgUjyRzAqe1t6_uL7HtMtqN7X4">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Matching</title>
</head>
<body>
  <a href="index.html"><img class="goHome" src="https://drive.google.com/uc?export=view&id=1fqHaoxypKFKDwmWsS_m65kgfSDzfbpSO" alt=""></a>
  <div class="grid-container">
    <div class="matchedProfile">1</div>
    <div class="matchedProfile">2</div>
    <div class="matchedProfile">3</div>
    <div class="matchedProfile">4</div>
    <div class="matchedProfile">5</div>
    <div class="matchedProfile">6</div>
    <div class="matchedProfile">7</div>
    <div class="matchedProfile">8</div>
    <div class="matchedProfile">9</div>
    <div class="matchedProfile">10</div>
  </div>
</body>
</html>