<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/HackMatch/static/HackMatch/styleRegister.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registor Now &copy;</title>
</head>
<body>
  <a href="index.html"><img class="goHome" src="/HackMatch/static/HackMatch/homeLogo.png" alt=""></a>
  <form action="index.html" method="post">
    <div class="section">
      <div class="input" >
        <P class="textToUser">Please enter your Information: </P>
        <input class="takeInput" type="text", name="firstname", placeholder="First Name">
        <input class="takeInput1" type="text", name="email", placeholder="Email">
        <input class="takeInput" type="text", name="lastname", placeholder="Last Name">
        <input class="takeInput" type="text", name="college/university", placeholder="College/University">
        <input class="takeInput" type="text", name="grade" placeholder="Grade">
      </div>
      <div class="input">
        <P class="textToUser">Are you a...</P>
        <input class="choice" type="checkbox" name="userSkills[]" value="fronted">FrontEnd Developer
        <input class="choice" type="checkbox" name="userSkills[]" value="backend">BackEnd Developer
      </div>
      <div class="input">
        <P class="textToUser">Languages: </P>
        <input type="checkbox">C
        <input class="space" type="checkbox" name="userSkills[]" value="c++">C++
        <input class="space" type="checkbox" name="userSkills[]" value="java">Java
        <input class="space" type="checkbox" name="userSkills[]" value="javascript">JavaScript
        <input class="space" type="checkbox" name="userSkills[]" value="python">Python
        </div>
        <div class="input">
        <input class="" type="checkbox" name="userSkills[]" value="html/css">HTML/CSS
        <input class="space" type="checkbox" name="userSkills[]" value="c#">C#
        <input class="space" type="checkbox" name="userSkills[]" value="php">PHP
        <input class="space" type="checkbox" name="userSkills[]" value="sql">SQL
        <input class="space" type="checkbox" name="userSkills[]" value="ruby">Ruby
      </div>
      <div class="input">
        <P class="textToUser">Frameworks: </P>
        <input class="" type="checkbox" name="userSkills[]" value="django">Django
        <input class="space1" type="checkbox" name="userSkills[]" value="flask">Flask
        <input class="space1" type="checkbox" name="userSkills[]" value="angular">Angular
        <input class="space1" type="checkbox" name="userSkills[]" value="react">React
        <input class="space1" type="checkbox" name="userSkills[]" value="express">Express
      </div>
      <div class="input">
        <P class="textToUser">Proficiency level: </P>
        <input class="choice" type="checkbox" name="userSkills[]" value="beginner">Beginner
        <input class="choice" type="checkbox" name="userSkills[]" value="skilled">Skilled
      </div>
      <button class="submitButton" value="Submit">Submit Now</button>
    </div>
  </form>
</body>
</html>