<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1jQ5xj5sgUjyRzAqe1t6_uL7HtMtqN7X4">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Matching</title>
</head>
<body>
  <a href="{% url 'index' %}"><img class="goHome" src="https://drive.google.com/uc?export=view&id=1fqHaoxypKFKDwmWsS_m65kgfSDzfbpSO" alt=""></a>
  <div class="grid-container">
    <div class="matchedProfile">{% for item  in zero %}
      <ul>{{ item }}</ul>{% endfor %}</div>
    <div class="matchedProfile">{% for item  in one %}
      <ul>{{ item }}</ul>{% endfor %}</div>
    <div class="matchedProfile">{% for item  in two %}
      <ul>{{ item }}</ul>{% endfor %}</div>
    <div class="matchedProfile">{% for item  in three %}
      <ul>{{ item }}</ul>{% endfor %}</div>
    <div class="matchedProfile">{% for item  in four %}
      <ul>{{ item }}</ul>{% endfor %}</div>
    <div class="matchedProfile">{% for item  in five %}
      <ul>{{ item }}</ul>{% endfor %}</div>
    <div class="matchedProfile">{% for item  in six %}
      <ul>{{ item }}</ul>{% endfor %}</div>
    <div class="matchedProfile">{% for item  in seven %}
      <ul>{{ item }}</ul>{% endfor %}</div>
    <div class="matchedProfile">{% for item  in eight %}
      <ul>{{ item }}</ul>{% endfor %}</div>
    <div class="matchedProfile">{% for item  in nine %}
      <ul>{{ item }}</ul>{% endfor %}</div>
  </div>
</body>
</html>