<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="styleEvents.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Events</title>
</head>
<body>
  <a href="index.html"><img class="goHome" src="homeLogo.png" alt=""></a>
  <div class="main">
    <div class="divOne">
      <p class="heading">Happening Now!</p>
      <p class="info"><strong>HackNC</strong> is an annual, student-run hackathon hosted by the University of North Carolina at Chapel Hill. Every fall, 
        hundreds of students arrive at UNC to spend the weekend inventing something amazing. They are one of the largest 
        hackathons in the southeastern United States.</p>
        <a href="https://hacknc.com/index.html", target="blank"><button>More information</button></a>
    </div>
    <div class="divTwo">
      <p class="heading">Upcoming Events:</p>
      <p class="info">(More Hack-a-thons coming soon)</p>
    </div>
  </div>
</body>
</html>