<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/HackMatch/static/HackMatch/styleIndex.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Hacker Freinds</title>
</head>
<body>
  <div class="headerDiv">
    <div class="dropDown">
      <button class="dropDownButton"><img class="dropDownImg" src="/HackMatch/static/HackMatch/dropIcon.png" alt=""></button>
    </div>
    <div class="showImg"> 
      <img class="logo" src="/HackMatch/static/HackMatch/mlhLog.png" alt="MLH">
      <img class="logo" src="/HackMatch/static/HackMatch/hackncLog.png" alt="hackNC">
      <img class="logo" src="/HackMatch/static/HackMatch/uncLog.png" alt="UNC C">
    </div>
  </div>

  <div class="bodyDiv">
    <div class="buttons">
      <a href="events.html"><button class="eventButton">Events</button></a>
      <a href="findTeam.html"><button class="findTeamBtn">Find your Team</button></a>
      <a href="https://my.mlh.io/oauth/authorize?client_id=XAyBgz50rTVyWISgkyoCsXW7wkZjRyhRvyPD67aSrr0&redirect_uri=http://127.0.0.1:5500/HackMatch/HackMatch/Templates/HackMatch/index.html&response_type=token&scope=email"><button class="logInBtn">Log with MLH</button></a>
    </div>

    <div class="text">
      <p></p>
    </div>
  </div>
</body>
</html>