<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/HackMatch/static/HackMatch/styleIndex.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Hacker Freinds</title>
</head>
<body>
  <div class="headerDiv">
    <div class="dropDown">
      <button class="dropDownButton"><img class="dropDownImg" src="/HackMatch/static/HackMatch/dropIcon.png" alt=""></button>
    </div>
    <div class="showImg"> 
      <img class="logo" src="/HackMatch/static/HackMatch/mlhLog.png" alt="MLH">
      <img class="logo" src="/HackMatch/static/HackMatch/hackncLog.png" alt="hackNC">
      <img class="logo" src="/HackMatch/static/HackMatch/uncLog.png" alt="UNC C">
    </div>
    <div class="registerLink">
      <a href="register.html"><button class="registerBtn">Register Now</button></a>
    </div>
  </div>

  <div class="bodyDiv">
    <div class="buttons">
      <a href="events.html"><button class="eventButton">Events</button></a>
      <a href="findTeam.html"><button class="findTeamBtn">Find your Team</button></a>
      <a href="logIn.html"><button class="logInBtn">Log In</button></a>
    </div>

    <div class="text">
      <p></p>
    </div>
  </div>
</body>
</html>